$bg-exclamation: 								$brand;
$bg-exclamation-tip: 						$accent;

$alert-border-radius: 					$border-radius-base;


.alert {
	background-color: #fff;
	position: relative;
	min-height: 54px;
	padding: 16px 10px 16px 84px;
	border-radius: $alert-border-radius;

	.tip {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 53px;
		border-bottom-left-radius: $alert-border-radius;
		border-top-left-radius: $alert-border-radius;

		&:after {
			$corner-width: 20px;

			@include pseudo-block($corner-width, 100%);
			top: 0;
			right: -$corner-width;
			background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" preserveAspectRatio="none"><polygon fill="#FBB040" points="0,0 24,12 0,24 "/></svg>') no-repeat 0 0;
			background-size: 100% 100%;
		}

		[class^=icon] {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	&._spread-text {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.alert-exclamation {
	background-color: $bg-exclamation;
	color: $white;

	.tip {
		background-color: $bg-exclamation-tip;
	}
}