$phone-color: 												$intense;
$card-border-radius: 									2px;


.card-small {
	padding: 20px 20px 18px;
	background-color: $white;
	box-shadow: 0 1px 3px rgba(24,24,24,.25);
	border-radius: $card-border-radius;
	font-size: 1.3rem;
	line-height: 1.5rem;
	@include distancing(1.5rem, bottom);

	.rating {
		.icon-star {
			width: 13px;
			height: 12px;
		}
	}

	.price {
		font-size: 1.6rem;
		line-height: 1.6rem;
		font-weight: bold;
		color: $heading;
	}

	h4 {
		color: $brand;
		text-transform: none;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	h6 {
		text-transform: none;
	}

	p+p {
		margin-top: .6rem;
	}

	.card-footer {
		margin-top: 15px;
		border-top: 1px solid $border;
		margin-left: -20px;
		margin-right: -20px;
		padding: 12px 20px 0;
		text-align: center;
	}

	.metro-list-xs {
		margin-top: 1px;
	}
}

.photo {
	border-radius: 50%;
	@include distancing(5px, bottom);
}

.appointment-wrap {
	.phone {
		margin-top: 31px;
	}

	.btn {
		margin-top: 19px;
	}
}
