$input-border-color: 				$border;
$input-border-radius: 			2px;
$input-text-color: 					$major;


.form-control {
  width: 100%;
  display: block;
  height: auto;
  padding: 12px 19px;
	border: 1px solid $input-border-color;
	color: $input-text-color;
	font-size: inherit;
	line-height: 1.9rem;
	font-weight: inherit;
  background-color: $white;
  box-shadow: none;
  transition: none;

  &:focus {
  	border-color: $input-border-color;
		outline: none;
		box-shadow: none;
	}

	@include placeholder($major);

	@at-root select#{&} {
		height: auto;
		padding-right: 44px;
		background-image: url(../images/icons/select-arrow.png);
		background-position: calc(100% - 13px) 50%;
		background-repeat: no-repeat;
		-webkit-appearance: none;
		appearance: none;
		cursor: pointer;
	}
}

.input-lg {
  padding: 12px 19px;
	font-size: inherit;
	line-height: 1.9rem;
	
	@at-root select#{&} {
		padding-right: 44px;
		background-image: url(../images/icons/select-arrow.png);
		background-position: calc(100% - 13px) 50%;
		background-repeat: no-repeat;
		line-height: 1.9rem;
	}
}

input.input-search {
	padding-right: 44px;
	background: url(../images/icons/magnifier.png) no-repeat calc(100% - 13px) 50%;
}

input.input-name {
	padding-left: 41px;
	background: url(../images/icons/user.png) no-repeat 9px 50%;
}

input.input-phone {
	padding-left: 41px;
	background: url(../images/icons/phone.png) no-repeat 9px 50%;
}