$input-border-color: 				$border;
$input-border-radius: 			2px;
$input-text-color: 					$major;


.form-control {
  width: 100%;
  display: block;
  height: auto;
  // padding: 12px 19px;
	border: 1px solid $input-border-color;
	color: $input-text-color;
	font-family: inherit;
	// font-size: inherit;
	// line-height: 1.9rem;
	font-weight: inherit;
  background-color: $white;
  background-repeat: no-repeat;
  box-shadow: none;
  transition: none;

  &:focus {
  	border-color: $input-border-color;
		outline: none;
		box-shadow: none;
	}

	@include placeholder($major);

	@at-root select#{&} {
		height: auto;
		padding-right: 44px;
		background-image: url(../images/icons/select-arrow.png);
		background-position: calc(100% - 13px) 50%;
		background-repeat: no-repeat;
		-webkit-appearance: none;
		appearance: none;
		cursor: pointer;
	}
}

.input-sm {
  padding: 3px 10px;
}

.input-lg {
  padding: 12px 19px;
	font-size: inherit;
	line-height: 1.9rem;
	
	@at-root select#{&} {
		padding-right: 44px;
		background-image: url(../images/icons/select-arrow.png);
		background-position: calc(100% - 13px) 50%;
		background-repeat: no-repeat;
		line-height: 1.9rem;
	}
}

input.input-search {
	padding-right: 44px;
	background-image: url(../images/icons/magnifier.png);
	background-position: calc(100% - 13px) 50%;
}

input.input-name {
	padding-left: 41px;
	background-image: url(../images/icons/user.png);
	background-position: 9px 50%;
}

input.input-phone {
	padding-left: 41px;
	background-image: url(../images/icons/phone.png);
	background-position: 9px 50%;
}

.form-horizontal {
	.form-group {
		@include make-row();
		margin-left: -$grid-gutter-xs/2;
		margin-right: -$grid-gutter-xs/2;

		> [class*=col-] {
	  	padding-right: $grid-gutter-xs/2;
	  	padding-left: $grid-gutter-xs/2;
		}
	}

	.control-label {
		padding-top: 5px;
		text-align: left;
	}
}

.control-label {
	font-weight: inherit;
	font-size: 1.4rem;
	line-height: 1.5rem;
}

.input-color-brand {
	border-color: $brand;

	&:focus {
		border-color: $brand;
	}
}