.row {

	&.row-gutter-xs {
		margin-left: -$grid-gutter-xs/2;
		margin-right: -$grid-gutter-xs/2;

		> [class*=col-] {
	  	padding-right: $grid-gutter-xs/2;
	  	padding-left: $grid-gutter-xs/2;
		}
	}
	
	&.row-gutter-sm {
  	margin-right: -$grid-gutter-sm/2;
  	margin-left: -$grid-gutter-sm/2;

		> [class*=col-] {
			padding-right: $grid-gutter-sm/2;
			padding-left: $grid-gutter-sm/2;
		}
	}
	
	&.row-gutter-lg {
  	margin-right: -$grid-gutter-lg/2;
  	margin-left: -$grid-gutter-lg/2;

		> [class*=col-] {
			padding-right: $grid-gutter-lg/2;
			padding-left: $grid-gutter-lg/2;
		}
	}

	&._bordered {
		> [class*=col-] {
			border-right: 1px solid $border;
			
			&:last-child {
				border-right: 0;
			}
		}
	}

}