[class^=icon] {
	display: inline-block;
}

.icon-like {
	width: 36px;
	height: 36px;

	&._small {
		width: 22px;
		height: 22px;
	}
}

.icon-star {
	width: 19px;
	height: 18px;
}

.icon-metro-line {
	width: 6px;
	height: 6px;
	border-radius: 6px;
}