/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-right {
  background-image: url(../images/icons-sprite.png);
  background-position: -100px -35px;
  width: 9px;
  height: 5px;
}
.icon-exclamation {
  background-image: url(../images/icons-sprite.png);
  background-position: -100px 0px;
  width: 9px;
  height: 35px;
}
.icon-facebook-2 {
  background-image: url(../images/icons-sprite.png);
  background-position: -50px -41px;
  width: 25px;
  height: 25px;
}
.icon-facebook {
  background-image: url(../images/icons-sprite.png);
  background-position: -25px -16px;
  width: 25px;
  height: 25px;
}
.icon-globe {
  background-image: url(../images/icons-sprite.png);
  background-position: -50px -25px;
  width: 14px;
  height: 14px;
}
.icon-googleplus {
  background-image: url(../images/icons-sprite.png);
  background-position: 0px -41px;
  width: 25px;
  height: 25px;
}
.icon-magnifier {
  background-image: url(../images/icons-sprite.png);
  background-position: -75px -49px;
  width: 15px;
  height: 15px;
}
.icon-phone {
  background-image: url(../images/icons-sprite.png);
  background-position: 0px -66px;
  width: 24px;
  height: 24px;
}
.icon-point {
  background-image: url(../images/icons-sprite.png);
  background-position: -24px -66px;
  width: 12px;
  height: 18px;
}
.icon-select-arrow {
  background-image: url(../images/icons-sprite.png);
  background-position: -36px -66px;
  width: 15px;
  height: 10px;
}
.icon-step-arrow {
  background-image: url(../images/icons-sprite.png);
  background-position: 0px 0px;
  width: 50px;
  height: 16px;
}
.icon-twitter-2 {
  background-image: url(../images/icons-sprite.png);
  background-position: -25px -41px;
  width: 25px;
  height: 25px;
}
.icon-twitter {
  background-image: url(../images/icons-sprite.png);
  background-position: -75px 0px;
  width: 25px;
  height: 25px;
}
.icon-user {
  background-image: url(../images/icons-sprite.png);
  background-position: -75px -25px;
  width: 24px;
  height: 24px;
}
.icon-vkontakte-2 {
  background-image: url(../images/icons-sprite.png);
  background-position: -50px 0px;
  width: 25px;
  height: 25px;
}
.icon-vkontakte {
  background-image: url(../images/icons-sprite.png);
  background-position: 0px -16px;
  width: 25px;
  height: 25px;
}
