[class^=icon] {
	display: inline-block;
}

.icon-like {
	width: 36px;
	height: 36px;

	&._small {
		width: 22px;
		height: 22px;
	}
}

.icon-star {
	width: 19px;
	height: 18px;
}

.icon-metro-line {
	width: 6px;
	height: 6px;
	border-radius: 6px;
}

.icon-phone-3 {
	margin: -1px -9px -6px;
  width: 24px;
  height: 24px;
}

.icon-white {
	fill: $white;
}