$metro-line-1-color:  				#fbb040;
$metro-line-2-color:  				#6ee859;
$metro-line-3-color:  				#2300f0;


[class^=icon]{
	&.metro-line-1-color {
		background-color: $metro-line-1-color;
	}

	&.metro-line-2-color {
		background-color: $metro-line-2-color;
	}

	&.metro-line-3-color {
		background-color: $metro-line-3-color;
	}
}

.metro-list-small {
	$margin: 2px;
	@include list-reset();
	margin-left: -$margin;
	margin-right: -$margin;

	> li {
		display: inline-block;
		position: relative;
		padding-left: 10px;
		color: inherit;
		margin-left: $margin;
		margin-right: $margin;

		&:before {
			@include pseudo-block(6px);
			left: 0;
			top: 50%;
			@include transform(translateY(-50%));
			border-radius: 6px;
		}

		&.metro-line-1-color:before {
			background-color: $metro-line-1-color;
		}

		&.metro-line-2-color:before {
			background-color: $metro-line-2-color;
		}

		&.metro-line-3-color:before {
			background-color: $metro-line-3-color;
		}
	}

	.icon-n-text & {
		margin-top: 5px;
	}
}