$metro-line-1-color:  				#fbb040;
$metro-line-2-color:  				#6ee859;
$metro-line-3-color:  				#2300f0;


.metro-line-1-color {
	color: $metro-line-1-color;
}

.metro-line-2-color {
	color: $metro-line-2-color;
}

.metro-line-3-color {
	color: $metro-line-3-color;
}

.metro-list-xs {
	$margin: 2px;
	@include list-reset();
	margin-left: -$margin;
	margin-right: -$margin;

	> li {
		display: inline-block;
		position: relative;
		padding-left: 8px;
		color: inherit;
		margin-left: $margin;
		margin-right: $margin;

		&:before {
			@include pseudo-block(5px);
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 4px;
		}

		&.metro-line-1-color:before {
			background-color: $metro-line-1-color;
		}

		&.metro-line-2-color:before {
			background-color: $metro-line-2-color;
		}

		&.metro-line-3-color:before {
			background-color: $metro-line-3-color;
		}
	}
}