$star-fill-default: 				$major;
$star-fill-active: 					$accent;
$rating-word-color: 				$star-fill-active;


.rating {
	font-size: 0;
	line-height: 0;
	text-align: center;

	.icon-star {
		fill: $star-fill-default;
		vertical-align: middle;

		&._active {
			fill: $star-fill-active	;
		}
	}
}

.rating-word {
	font-weight: bold;
	color: $rating-word-color;
	font-size: 1.5rem;
	line-height: 1.8rem;
	vertical-align: middle;
	display: inline-block;

	.icon-star + & {
		margin-left: 8px;
		position: relative;
		top: 1px;
	}
}

.rating-bar {
	@include clearfix();
	@include distancing(0.6rem);

	.value {
		font-weight: bold;
		display: inline-block;
		float: left;
		width: 22px;
	}

	.progress {
		float: left;
		width: calc(100% - 22px);
		margin-top: 4px;
	}
}