$review-bg: 							$white;
$review-border-radius: 		$border-radius-base;


.review {
	background-color: $review-bg;
	border-radius: $review-border-radius;
	padding: 18px 17px;
	@include distancing(1.5rem, bottom);
	@include distancing(1.2rem, bottom, '.review');
	@include distancing(1.2rem, bottom, '.reviews-actions');

	.rating {
		text-align: left;
	}

	.review-text {
		margin-top: 10px;	
		font-style: italic;
	}

	.review-meta {
		margin-top: 8px;
	}
}

.reviews-actions {
	.link-to-all {
		display: inline-block;

		@media (min-width: $screen-sm-min) {
			margin-top: 10px;
		}
	}
}