.table-no-borders {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;

	th, td {
		vertical-align: top;
		border: 0;
		padding: 2px 5px;

		&:first-child { padding-left: 0 }
		&:last-child { padding-right: 0 }
	}
}

.table-prices {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	cursor: default;
	line-height: 1.7rem;

	@include distancing(1.5rem, bottom);
	
	th, td {
		padding: 0;
		text-align: left;
	}

	th {
		padding-top: 8px;
		font-weight: bold;
	}

	tr:first-child th {
		padding-top: 0;
	}

	td {
		padding-top: 3px;
		padding-bottom: 3px;
		
		&:first-child {
			padding-right: 7px;
		}

		&:last-child {
			border-left: 1px solid $border;
			text-align: right;
			padding: 0 15px 0 40px;
			white-space: nowrap;
		}

		&.td-indent {
			padding-left: 20px;
		}
	}

	tr:hover {
		td, th {
			background-color: #f5f5f5;
		}
	}

}

.table-borders-wrap {
	$margin-h: 20px;
	$margin-v: 12px;

	margin-left: -$margin-h;
	margin-right: -$margin-h;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	padding: $margin-v $margin-h;

	@include distancing(.8rem, top, 'h4');
	@include distancing(2rem);

	.table-prices tr:first-child td:last-child {
		position: relative;

		&:before {
			@include pseudo-block(0, $margin-v);
			top: -$margin-v;
			left: -1px;
			border-left: 1px solid $border;
		}	
	}

	.table-prices tr:last-child td:last-child {
		position: relative;

		&:before {
			@include pseudo-block(0, $margin-v);
			bottom: -$margin-v;
			left: -1px;
			border-left: 1px solid $border;
		}	
	}
}

.table-inline {
	display: inline-table;
	border-collapse: collapse;
	border-spacing: 0;

	.table-row {
		display: table-row;
	}

	.table-cell {
		display: table-cell;
		padding-left: 5px;
		padding-right: 5px;

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
}