$header-bg: 						$white;
$pre-footer-bg: 				#f5f5f5;
$footer-bg: 						$major;
$footer-text-color: 		$white;


html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: $rem-size;
}

body {
	margin: 0;
	font-family: $font-main;
	color: $major;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: $base-font-weight;
	background-color: $bg;
}

.wrap {
	overflow: hidden;
}

.container-fluid,
.container {
  max-width: 1020px;
  position: relative;
}

.site-header {
	background-color: $header-bg;
	z-index: 10;
	height: auto;

	> .container {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	@media (min-width: $screen-sm-min) {
		height: 105px;
	}

	@media (min-width: $screen-md-min) {

	}
}

.site-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 0;

	img {
		display: block;
	}

	@media (min-width: $screen-sm-min) {
		position: absolute;
		top: 36px;
		left: $grid-gutter-width/2;
	}

	@media (min-width: $screen-md-min) {
		top: 36px;
		left: $grid-gutter-width/2;
	}
}

.site-phone {
	font-size: 2rem;
	line-height: 2rem;
	color: $heading;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 80px;
	right: $grid-gutter-width/2;

	@media (min-width: $screen-sm-min) {
		position: absolute;
		top: 40px;
	}

	@media (min-width: $screen-md-min) {

	}
}

.content-area {
	padding-top: 31px;
	padding-bottom: 56px;	
}

.pre-footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $pre-footer-bg;
	margin-top: -36px;
}

.site-footer {
	background-color: $footer-bg;
	color: $footer-text-color;
	font-size: 1.4rem;
	line-height: 1.8rem;

	> .container {
		padding-top: 20px;
		padding-bottom: 40px;
	}

	a, h4 {
		color: $white;
	}

	h4 {
		font-weight: 300;
	}

}

.footer-nav {
	$margin: 9px;

	line-height: 1.8rem;
	cursor: default;
	margin-left: -$margin;

	li {
		display: inline-block;
		margin-left: $margin;
		margin-left: $margin;
	}

	a {
		
	}
}

.footer-catalog-menu {
	margin-top: 34px;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	> ul {
		@include list-reset();
		@include make-row();

		> li {
			@include make-xs-column(24);
			@include make-sm-column(8);
		}
	}
	
	@media (max-width: $screen-xs-max){
		> ul > li + li {
			margin-top: 2.3rem;
		}
	}
}

.footer-sharing {
	@include make-row(12px);

	.title {
		@include make-sm-column(13, 12px);
		margin-bottom: 8px;
	}

	ul {
		@include list-reset();
		@include make-sm-column(11, 12px);
		margin-top: 0;

		li + li {
			margin-top: 7px;
		}
	}

	[class*=icon-]{
		vertical-align: middle;
		margin-top: -1px;
		margin-right: 7px;
	}

	a {
		display: inline-block;
		text-decoration: none;
		white-space: nowrap;

		&:hover {
			text-decoration: underline;
		}
	}

	@media (max-width: $screen-xs-max){
		margin-top: 2.2rem;
	}

	@media (min-width: $screen-sm-min){
		.title {
			text-align: right;
		}
	}

	@media (min-width: $screen-md-min){
		.title {
			padding-top: 8px;
		}
	}

	@media (min-width: $screen-lg-min){
		.title {
		}
	}
}

.footer-subinfo {
	margin-top: 0;
	font-size: 1.2rem;
	line-height: 1.6rem;
	text-align: right;
	@include distancing(3rem, top);
}