$link-color: 						$brand;
$heading: 							$intense;

$h1-font-size: 					3rem;
$h2-font-size: 					2.5rem;
$h3-font-size: 					2.1rem;
$h4-font-size: 					1.6rem;
$h5-font-size: 					1.5rem;
$h6-font-size: 					1.5rem;


a {
	color: $link-color;
	text-decoration: underline;

	&:hover {
		color: $link-color;
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}
}

.links-as-text {
	cursor: default;
	
	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			color: $link-color;
			text-decoration: underline;
		}
	}
}

p {
	@include distancing(1.7rem, top);
	@include distancing(2rem !important, top, '.row');
	@include distancing(3rem !important, top, '.list-steps');
	@include distancing(1rem, top, '.table-no-borders');

	@include distancing(1.7rem, bottom);
	@include distancing(1rem, bottom, 'p');
	@include distancing(1rem, bottom, '.table-no-borders');
}

h1, h2, h3, h4, h5, h6 {
	color: $heading;
	font-weight: bold;
}

h1 {
	font-size: $h1-font-size;
	line-height: 3rem;

	@include distancing(2rem !important, top);
	@include distancing(1.6rem, bottom);
}

h2 {
	font-size: $h2-font-size;
	line-height: 2.7rem;
	text-transform: uppercase;

	@include distancing(3.4rem !important, top);
	@include distancing(2rem, bottom);
}

h3 {
	font-size: $h3-font-size;
	line-height: $h3-font-size;
	text-transform: uppercase;

	@include distancing(3.4rem !important, top);
	@include distancing(2rem, bottom);
}

h4 {
	font-size: $h4-font-size;
	line-height: $h4-font-size + .3rem;
	text-transform: uppercase;

	@include distancing(2.5rem !important, top);
	@include distancing(.8rem, bottom);
}

h5 {
	font-size: $h5-font-size;
	line-height: 1.9rem;
	text-transform: uppercase;
	
	@include distancing(2.5rem !important, top);
	@include distancing(.8rem, bottom);

	&.heading-alternative {
		font-size: 1.7rem;
	}
}

.heading-alternative {
	text-transform: none;
}

h6 {
	color: $major;
	font-size: $h6-font-size;
	line-height: 1.6rem;
	
	@include distancing(0, bottom);
}


// nearby headings
@for $i from 1 through 5 {
  h#{$i} {
		@for $ii from 1 through 5 {
  		+ h#{$ii} {
				margin-top: .8rem !important;
			}
  	}
  }
}

.subheader {
	@include distancing(.2rem !important, top);
	@include distancing(2rem, bottom);
	@include distancing(2.8rem, bottom, '.box');
}

.color-brand {
	color: $brand;
}

.color-accent {
	color: $accent;
}

.color-intense {
	color: $intense;
}

// sizes
.text-xs {
	font-size: 1.1rem;
	line-height: 1.3rem;
}

.text-sm {
	font-size: 1.4rem;
	line-height: 1.8rem;
}

.text-lg {
	font-size: 1.8rem;
	line-height: 2.2rem;
}

.text-xl {
	font-size: 2.8rem;
	line-height: 2.8rem;
}

// alignment
.text-left { text-align: left }
.text-right { text-align: right }
.text-center { text-align: center }

@media (max-width: $screen-xs-max) {
	.text-left-xs { text-align: left }
	.text-right-xs { text-align: right }
	.text-center-xs { text-align: center }
}

.text-upper {
	text-transform: uppercase;
}

ul,
ol,
.list-simple {
	@include list-reset();

	@include distancing(1rem, top);
	@include distancing(4rem !important, top, '.row');
	@include distancing(1rem, bottom);

	li + li {
		margin-top: 4px;
	}
}

dl {
	@include distancing(1.2rem, top);
	@include distancing(1.2rem, bottom);
}

.list-inline {
	@include list-reset();

	li {
		display: inline;
		margin-left: 2px;
		margin-right: 2px;
	}

	@include distancing(1rem, top);
	@include distancing(4rem !important, top, '.row');
	@include distancing(1rem, bottom);
}


hr {
	border: solid #c2c2c2;
	border-width: 1px 0 0;

	@include distancing(3.5rem !important, top);
	@include distancing(3.5rem !important, bottom);

	&.hr-indent-sm {
		@include distancing(2rem !important, top);
		@include distancing(2rem !important, bottom);
	}
	&.hr-indent-xs {
		@include distancing(1rem !important, top);
		@include distancing(1rem !important, bottom);
	}
}

dl {
	dt {
		font-weight: bold;
		margin-top: 5px;
		
		&:first-child {
			margin-top: 0;
		}
	}
	dd {
		margin-left: 20px;
	}
}

::selection {
	color: $white;
	background-color: $brand;
}