// text
// ===========================
$font-sans:					'Roboto', sans-serif;
$font-main: 				$font-sans;
$rem-size: 					10px;
$base-font-weight: 	300;

// colors
// ===========================
$white: 						#ffffff;
$orange: 						#fbb040;
// $red: 							;
$black: 						#000000;
$green: 						#45b97c;

$brand: 						$green;
$accent:	 					$orange;
$major: 						#6e6e6e;
$intense: 					#464646;

$bg: 								#ebebeb;
$border: 						#c2c2c2;

// $alert: 							;
// $danger: 						;
// $positive: 					;
// $negative:						;