// text
// ===========================
$font-sans:					'Roboto', sans-serif;
$font-main: 				$font-sans;
$rem-size: 					10px;
$base-font-size:		1.5rem;
$base-line-height:	2rem;
$base-font-weight: 	300;

// colors
// ===========================
$white: 						#ffffff;
$orange: 						#fbb040;
// $red: 							;
$black: 						#000000;
$green: 						#45b97c;

$brand: 						$green;
$accent:	 					$orange;
$major: 						#6e6e6e;
$intense: 					#464646;

$bg: 								#ebebeb;
$bg-2: 							#f5f5f5;
$border: 						#cbcbcb;

// $alert: 							;
// $danger: 						;
// $positive: 					;
// $negative:						;

// grid
$grid-gutter-xs: 			14px;
$grid-gutter-sm: 			20px;
$grid-gutter-lg: 			60px;